.godnesssec  .img-responsive {
  width: 100%;
 
}

.smbg {
  background-color: #fff;
  background-image: linear-gradient(rgba(110, 69, 143, 0.1), #fff);
  background-image: -webkit-linear-gradient(rgba(110, 69, 143, 0.1) #fff);
  background-image: -moz-linear-gradient(rgba(110, 69, 143, 0.1) #fff);
  background-image: -ms-linear-gradient(rgba(110, 69, 143, 0.1) #fff);
  background-image: -o-linear-gradient(rgba(110, 69, 143, 0.1) #fff);
}
 .mlkpro {

  color: #636362;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 15px;
  width: 43%;
  margin: 0 auto;
  text-align: center;
  
}

.godnesssec a {
  text-decoration: none;
}

.btn-signup
 {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}
