{% extends 'shop/base.html' %}
{% load static %}
{% block title %}address{% endblock title %}
{% block main-content %}
<div class="container mt-5">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}

    {% if messages %}
    {% for msg in messages %}
   <div class="alert alert-{{msg.tags}}" role="alert">
       {{msg}}
   </div>
   {% endfor %}
   {% endif %}   

    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
    
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'profile' %}" class="btn">profile</a></li>
            <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-success">Address</a></li>
        </ul>
    </div>
    <div class="col-sm-8 offset-sm-1">
        <div class="row">
            {% for ad in add %}
            <div class="col-sm-6">
                <div class="card m-2">
                    <div class="card-body">
                        <h3>Address {{forloop.counter}}</h3>
                        <p>Name:{{ad.name}}</p>
                        <p>Locality:{{ad.locality}}</p>
                        <p>City:{{ad.city}}</p>
                        <p>Mobile:{{ad.mobile}}</p>
                        <p>County:{{ad.county}}</p>
                        <p>Postcode:{{ad.postcode}}</p>
                        
                        <p class="text-center d-inline-block"><a href="{% url 'updateAddress' pk=ad.id %}" type="button" 
                            class="btn btn-success">Update</a></p>
                        <p class="text-center d-inline-block"><a href="{% url 'deleteAddress' pk=ad.id %}" type="button" 
                             class="btn btn-danger">Delete</a></p>  
                         
                    </div>
                    
                </div>
                           </div>
            {% endfor %}
        </div>
    </div>

    </div>
    </div>
    <br/><br/>

{% endblock main-content %}
