<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"> 

    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">

    <title>Dairy products | {% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static 'shop/images/milky.png' %}" width="75" height="65">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'category' 'ML' %}">Milk</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'CU' %}">Yogurt/Curd</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'MS' %}">MilkShake</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'BU' %}">Butter</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'GH' %}">Ghee</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'PN' %}">Panner</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'CZ' %}">Cheese</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'IC' %}">Ice-creams</a></li>
               </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'about'  %}">About us</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
              </li>
            </ul>
            <form class="d-flex" method="get" role="search" action="/search">
              <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
          </div>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>

              </ul>
           </li>
           <li class="nav-item mx-2">
            <a href="{% url 'showcart' %}" class="nav-link text-white">Cart</a>
           </li>
           {% if user.is_authenticated %}
           <li class="nav-item mx-2">
            <a href="{% url 'account_logout' %}" class="nav-link text-white">Logout</a>
          </li>

          {% else %}
          <li class="nav-item mx-2">
            <a href="{% url 'account_login' %}" class="nav-link text-white">Login</a>
           </li>
           <li class="nav-item mx-2">
            <a href="{% url 'account_signup' %}" class="nav-link text-white">Registration</a>
           </li>
           {% endif %}


           
          </ul>
        </div>
      </nav>

      

      {% block banner-slider %} {% endblock banner-slider %}

      {% block information %} {% endblock information %}


      {% block main-content %} {% endblock main-content %}



      
      <div class="container mt-3">
      <footer class="container-fluid bg-success text-center fixed-bottom p-2">
        Copyright: 2024 || kalyani kommula

       <p class="m-0 text-center text-white">Follow us:
          
          <a href="https://facebook.com" target="_blank" class="text-white" >
              <i class="fa-brands fa-facebook ms-3"></i>
          </a>
          <a href="https://instagram.com" target="_blank" class="text-white" >
            <i class="fa-brands fa-instagram ms-3"></i>
                    </a>
          <a href="https://youtube.com" target="_blank" class="text-white" >
            <i class="fa-brands fa-youtube ms-3"></i>
          </a>
          
      </p>

      </footer>
    </div>
      


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="{% static 'shop/js/script.js' %}"></script>
</body>

</html>