{% extends 'shop/base.html' %}
{% load static %}
{% block title %}placeorder{% endblock title %}
{% block main-content %}

<div class="container mt-5">
    <div class="row d-flex justify-content-between">
        <p class="success" style="font-size: 25px; padding: 5px; margin: 10px;
        background-color: lightseagreen; text-align:center;">Congratulations!!Your order placed successfully</p><br>
        <p class="text-center" style="font-size: 20px; margin-top: 5px;">
            Thank you for shopping! If you have any questions please contact my management..<br>
            <small class="text-center" style="font-weight: 500;" >Feel free to visit again</small>
        </p>
    </div>
</div>

{% endblock main-content %}
